{% extends "base_site.html" %}

{% block content %}
    <div class="ccard">
        <div class="panel">
            <h2 class="left">Currently valid Certificate Authorities</h2>
            <button onclick="window.location = '{% url 'new_ca' %}'" class="btn btn-primary-orange right">Create new CA</button>
        </div>
        <div class="content">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                    <th>CA Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ca in cas %}
                        <tr>
                            <th>{{ca}}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}