{% extends "base_site.html" %}

{% block content %}
    <div class="ccard">
        <div class="panel">
            <h2 class="left">Create new Certificate Authorities</h2>
        </div>
        <div class="content">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name" value="{{ request.POST.name }}" required>
                </div>
                <div class="form-group">
                    <label for="country">Select country</label>
                    <select class="form-control" name="country" id="country" required>
                        {% for id, country in countries %}
                            <option value="{{country}}">{{country}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="province">Province</label>
                    <input type="text" name="province" class="form-control" id="province" placeholder="Province" value="{{ request.POST.province }}" required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" name="city" class="form-control" id="city" placeholder="City" value="{{ request.POST.city }}" required>
                </div>
                <div class="form-group">
                    <label for="organization">Organization</label>
                    <input type="text" name="organization" class="form-control" id="organization" placeholder="Organization" value="{{ request.POST.organization }}" required>
                </div>
                <div class="form-group">
                    <label for="organization_unit">Organizational Unit</label>
                    <input type="text" name="organization_unit" class="form-control" id="organization_unit" placeholder="Organization Unit" value="{{ request.POST.organization_unit }}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{{ request.POST.email }}" required>
                </div>
                <button type="submit" class="btn btn-primary-orange">Submit</button>
            </form>
        </div>
    </div>
    {% comment %} The following is added to select the correct country from POST-data {% endcomment %}
    <script>
        document.querySelector('#country').value = '{{ request.POST.country }}';
    </script>
{% endblock content %}