{% load static %}

<html>
  <head>
	{% include "head.html" %}
	<link href="{% static 'css/setup.css' %}" rel="stylesheet">
  </head>
<body id="SetupForm">
	<div class="container">
		<div class="setup-form">
		<div class="main-div">
			<div class="panel">
			<h2>OpenVPN UI 2</h2>
			<p>Setup process of OpenVPN UI 2.</p>
			</div>
				<form method="POST" id="setup">
				{% csrf_token %}
					<div class="form-group">
                        <label for="address">Address</label>
                        {% if not ISPUBLICIP %}
                            <br>
                            <div class="alert alert-warning" role="alert">
                                    WARNING: The IP-address found on this machine is classified as an internal IP address and will not be reached from outside your network (ie. the internet).
                                    <!-- <br> -->
                                    Manually enter your public IP (if static) or an address to be used to connect to this machine.
                                    <br>If you do not have a static IP or address to this machine a free service such as no-ip can be used.
                            </div>
                        {% endif %}
                        <input type="text" class="form-control" name="address" id="address" placeholder="Address" aria-describedby="addressHelp" value="{{ address }}" required>
                        <small id="addressHelp" class="form-text text-muted">This is the IP address or hostname that will be used to connect to this machine from remote hosts.</small>
                        <div class="alert alert-info" role="alert">
                                Note that this can be changed later if needed. However, all client configurations exported before that change would need to be changed manually or replaced.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="port">Port</label>
                        <input type="number" class="form-control" name="port" id="port" placeholder="Address" aria-describedby="portHelp" value="1194" required>
                        <small id="portHelp" class="form-text text-muted">This is the IP address or hostname that will be used to connect to this machine from remote hosts.</small>
                        <div class="alert alert-info" role="alert">
                                Note that this port needs to be reachable from the outside of your network.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="protocol">Carrier protocol</label>
                        <select class="form-control" id="protocol" name="protocol" aria-describedby="protocolHelp" required>
                            <option>UDP</option>
                            <option>TCP</option>
                        </select>
                        <small id="protocolHelp" class="form-text text-muted">This is the underlying protocl the OpenVPN will use.</small>
                        <div class="alert alert-info" role="alert">
                                UDP is faster and sould be used if at all possible.
                        </div>
                    </div>
                    <br>
					<button type="submit" class="btn btn-primary">Next</button>
				</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>