{% extends "base_site.html" %}
{% load static %}

{% block content %}
<link href="{% static 'css/alert.css' %}" rel="stylesheet">
<script>

function deleteClient(server, client) {
    var modal = document.getElementById('deleteServerModal');
    var noDeleteButton = document.getElementById('noDeleteButton');
    var yesDeleteButton = document.getElementById('yesDeleteButton');

    modal.style.display = "block";

    noDeleteButton.onclick = function() {
        modal.style.display = "none";
    }

    yesDeleteButton.onclick = function() {
        modal.style.display = "none";
        var delete_url = "{% url 'delete_client' 123 456 %}".replace(/123/, server.toString()).replace(/456/, client.toString());
        window.location = delete_url
    }
}

</script>
    <div id="deleteServerModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="width: 40em;">
            <p>Are you sure you want to delete this client?</p>
            <p>If the client is already connected it will not be disconnected!</p>
            <div>
                <button id="noDeleteButton" type="button" style="width: 5em; float: right; margin-right: .5em;" class="btn btn-primary">No</button>
                <button id="yesDeleteButton" type="button" style="width: 5em; float: right; margin-right: .5em;" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
    <div class="ccard">
        <div class="panel">
            {% if server.STATUS == 'active' %}
                <h2 class="left">{{ server.NAME }} <span class="badge badge-success">{{server.STATUS}}</span></h2>
            {% elif server.STATUS == 'failed' %}
                <h2 class="left">{{ server.NAME }} <span class="badge badge-danger">{{server.STATUS}}</span></h2>
            {% elif server.STATUS == 'inactive' %}
                <h2 class="left">{{ server.NAME }} <span class="badge badge-secondary">{{server.STATUS}}</span></h2>
            {% endif %}
        </div>
        <div class="content">
            <hr>
            <h4>Connected clients</h4>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                    <th>Name</th>
                    <th>Virtual IP</th>
                    <th>Real IP:Port</th>
                    <th>Bytes Sent/Recived</th>
                    <th>Connected</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in server.CONNECTED_CLIENTS %}
                        <tr>
                            <th>{{client.name}}</th>
                            <th>{{ client.virtualip }}</th>
                            <th>{{ client.sourceip }}</th>
                            <th>{{ client.sent }} / {{ client.recived }}</th>
                            <th>{{ client.connected }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="ccard">
            <div class="panel">
                <h2 class="left">Available clients</h2>
                <button onclick="window.location = '{% url 'new_client' server.NAME %}'" class="btn btn-primary-orange right"><i class="fas fa-plus-square" style="padding-right: 5px;"></i> Create new client</button>
            </div>
            <div class="content">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th>Name</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in server.CLIENTS %}
                            <tr>
                                <th>{{client}}</th>
                                <th>
                                    <i style="cursor: hand; margin-right: 5px;" onclick="window.location = '{% url 'download_client' server.NAME client %}'" title="Download client configuration" class="fas fa-download"></i>
                                    <i style="cursor: hand; margin-right: 5px;" onclick="deleteClient('{{server.NAME}}', '{{client}}');" title="Delete client" class="fas fa-trash"></i>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock content %}